<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.mappers.ScoreMapper">

    <resultMap id="gameWiseMap" type="com.game.dto.Scores">
        <result property="game" column="game" />
        <result property="user" column="user" />
        <result property="score" column="score" />
        <result property="date" column="date" />
    </resultMap>

    <select id="getScoreBoardForGame" parameterType="java.util.Map" resultMap="gameWiseMap">
        SELECT
            user.user_name as user,
            game.game_name as game,
            inner_query.score as score
        <if test = "filter.booleanValue()">
            ,inner_query.date as date
        </if>
        FROM users as user, games as game,
            (select
                max(score) as score,
                user_id,
                game_id
            <if test = "filter.booleanValue()">
                ,CAST(creation_date AS DATE) date
            </if>
            FROM score_board
            WHERE active = true
            GROUP BY user_id, game_id
            <if test = "filter.booleanValue()">
            , date
            </if>
            ) as inner_query
            WHERE inner_query.game_id = game.game_id
            AND inner_query.user_id = user.user_id
            AND game.active = true
            AND user.active = true
            <if test="userId != null">
                AND user.user_id = #{userId}
            </if>
            <if test="gameId != null">
                AND game.game_id = #{gameId}
            </if>
        ORDER BY score desc
        <if test = "filter.booleanValue()">
            ,date desc
        </if>
    </select>

</mapper>